@font-face {
  font-family: "iconfont"; /* Project id 3686678 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff?t=1666191404466') format('woff'),
       url('./iconfont.ttf?t=1666191404466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie:before {
  content: "\e63f";
}

.icon-zuobiao:before {
  content: "\e65c";
}

.icon-dalou:before {
  content: "\e60d";
}

.icon-twitter:before {
  content: "\ea90";
}

.icon-youjiantou:before {
  content: "\e612";
}

