body {
    --themeColor: #141D2F,
        --bgColor:#fff,
        --user:#f2f2f2,
        --customColor:#000
}

* {
    font-family: 'Mono';
}

.wrap {
    background-color: var(--themeColor);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .6s;
}

.caontainer {
    width: 730px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    color: #2B3442;
}

.dark {
    font-size: 24px;
    color: #697C9a;
    cursor: pointer;
    font-style: unset;
}



.search-input {
    border-style: none;
    width: 60%;
    font-size: 18px;
    line-height: 25px;
    margin-left: 24px;
    cursor: pointer;
    outline: none;
    background-color: var(--bgColor);
}

::-webkit-input-placeholder {
    color: #BDBDBD;
    font-size: 20px;
    font-weight: bolder;
}


.search-btn {
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #f6d242, #ff52e5);
    width: 106px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    opacity: 0.7;
    transition: all linear .3s;


}


.search-btn:hover {
    opacity: 1;
}

.search {
    font-style: inherit;
    margin-top: 36px;
    width: 100%;
    background-color: var(--bgColor);
    padding: 0 10px 0 32px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
    border-radius: 15px;
}


.search-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bottom {
    width: 100%;
    height: 419px;
    box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
    border-radius: 15px;
    padding: 48px;
    background-color: var(--bgColor);
    box-sizing: border-box;

    margin-top: 24px;
    display: flex;
}

.left-img {
    width: 126px;
    height: 100%;
}

.avatar {
    width: 100%;
    border-radius: 50%;

}


.right-content {
    width: 100%;
    height: 100%;
    margin-left: 24px;

}

.name-date {
    display: flex;
    justify-content: space-between;
}

.second {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0079FF;
}


.name-date-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    color: #2B3442;

}

.last,
.name-date-time {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #697C9A;
}


.last {
    margin-top: 20px;
}

.user-state {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--user);
    font-style: italic;
    border-radius: 24px;

    /* display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-radius: 1.5rem;
    background: rgb(245, 248, 255);
    padding: 2.2rem;
    gap: 1rem; */
}

.words {
    margin-bottom: 24px;
    color: #697C9A;
    ;
}

.dark {
    font-style: italic;
}

.innerbox {
    width: 50%;
    cursor: pointer;
    margin-bottom: 16px;
}

.outbox {
    display: flex;
    flex-wrap: wrap;
    /* 强制换行 */
    margin-top: 24px;
}



.anniu,
.anniu::after {
    font-family: 'Do Hyeon', sans-serif;
    width: 260px;
    height: 80px;
    text-align: center;
    font-size: 22px;
    line-height: 80px;
    color: rgb(255, 251, 251);
    background: linear-gradient(30deg, transparent 10%, rgb(255, 136, 0) 10% 95%, rgb(0, 255, 149) 95%);
    box-shadow: 5px 0 0 rgb(0, 204, 255);
    cursor: pointer;
    position: relative;
}

.anniu::after {
    content: 'Aurora Borealis night';
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: -5px -2px 0 rgb(0, 183, 255),
        5px 2px 0 rgb(0, 255, 115);
    visibility: hidden;

}

.anniu:hover::after {
    animation: san 1s;
    animation-timing-function: steps(1, end);
}


/* 

clip-path: inset(20% -5px  60%  0);
clip-path: inset(50% -5px  30%  0);
clip-path: inset(80% -5px  5%  0);
clip-path: inset(0 -5px  80%  0);


 */

@keyframes san {
    0% {
        clip-path: inset(20% -5px 60% 0);
        transform: translate(-6px, 5px);
        visibility: visible;
    }

    10% {
        clip-path: inset(50% -5px 30% 0);
        transform: translate(6px, -5px);
    }

    20% {
        clip-path: inset(20% -5px 60% 0);
        transform: translate(5px, 0px);

    }

    30% {
        clip-path: inset(80% -5px 5% 0);
        transform: translate(-8px, 5px);
    }

    40% {
        clip-path: inset(0 -5px 80% 0);
        transform: translate(-4px, -3px);

    }

    50% {
        clip-path: inset(50% -5px 30% 0);
        transform: translate(-6px, -5px);
    }

    60% {
        clip-path: inset(80% -5px 5% 0);
        transform: translate(-7px, 5px);

    }

    70% {
        clip-path: inset(0 -5px 80% 0);
        transform: translate(3px, 6px);
    }

    80% {
        clip-path: inset(50% -5px 30% 0);
        transform: translate(5px, 5px);

    }

    90% {
        clip-path: inset(20% -5px 60% 0);
        transform: translate(6px, -5px);

    }

    100% {
        clip-path: inset(0 -5px 80% 0);
        transform: translate(1px, 5px);

    }
}


.custom-font-color {
    color: var(--customColor);
}

.iconfont {
    font-size: 24px !important;
    margin-right: 12px;
    font-weight: bold;
}

.innerbox {
    display: flex;
    align-items: center;
}